<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/specedit.css">
    <script src="js/jquery.slim.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
  </head>
  <style>
    html {
      margin: 0;
      padding: 0;
    }
    main {
      max-width: 1024px;
      margin: 2em auto;
    }
    .add-field input[type=text] {
      padding: .375rem .75rem;
    }
    .dropdown-menu span {
      color: red;
      cursor: pointer;
      padding: .375rem .75rem;
    }
    .specs-list, .card-body {
      padding: 1em;
      list-style: none;
    }
    .specs-list > li {
      background: #fbfbfb;
      list-style: none;
    }
    .specs-list > li:nth-child(even) {
      background: #f0f0f0;
      border-width: 0 1px;
    }
    .spec .form-group {
      margin-bottom: 0.3rem;
    }
    .spec .form-control-plaintext {
      padding: .375rem .75rem;
    }
  </style>

<script>
var field_purpose = {
    comment: "Comments or notes for this record",
    converter: "Command to call for converting data associated with this record to BIDS format, may use template syntax and placeholders",
    converter_path: "Location of a program/script to use as converter command for this record, value can be used in converter command via {_hs[converter_path]} placeholder",
    description: "Record description, originally extracted from the source file(s)"
}
</script>

<body>
<main>
<div id="app">
  <div class="input-group mb-3 col-sm-12">
    <div class="input-group-prepend">
      <label class="input-group-text" for="recordselection">Acquisition record to edit</label>
    </div>
    <select v-model="studyspecfile" v-on:change="load_specs(studyspecfile)" id="recordselection" class="form-control">
      <option v-for="specfile in specfiles" v-bind:value="specfile">
        {{ specfile.replace('/studyspec.json', '') }}
      </option>
    </select>
  </div>

  <ul v-if="specs[0]" class='specs-list'>
    <li class="card border-primary">
      <div class="card-header">
        Common properties (record: <code>{{ studyspecfile }}</code>)
      </div>
      <div class="card-body">
          <div v-for="(sval, skey) in {'Subject ID': 'subject', 'Anonymized Subject ID': 'anon_subject'}" class="form-group row">
            <label form="specform" class="col-sm-2 col-form-label">{{ skey }}</label>
            <div class="col-sm-10">
              <div v-if="specs[0]" class="input-group">
                <input v-model="specs[0][sval].value" v-on:change="assign2all(sval, specs[0][sval].value);" type="text" :disabled="specs[0][sval].approved" class="form-control">
                <div class="input-group-text">
                  <input v-model="specs[0][sval].approved" v-on:change="approveAll(sval, specs[0][sval].approved);"  type="checkbox" title="Toggle approval of record">
                </div>
              </div>
            </div>
      </div>
    </li>
  </ul>
  <ul class='specs-list'>
    <li class="card border-dark" v-for="(spec, specs_key) in specs">
      <div class="card-header">
        {{ studyspecfile }}/{{ spec.location }} [ <code>{{ spec.type }}</code><span v-if="spec.uid">; {{ spec.uid }}</span> ]
      </div>
      <ul class="card-body">
          <li v-for="(sval, skey) in spec" v-if="sval === Object(sval) && !(skey in {subject: null, anon_subject: null})">
          <div class="form-group row" v-bind:title="field_purpose[skey] || ''">
            <!-- this is some editable property -->
            <label form="specform" class="col-sm-2 col-form-label">
                <span v-if="skey !== skey.replace('bids_', '')">
                    <span class="badge badge-primary">BIDS</span> {{ skey.replace('bids_', '') }}
                </span>
                <span v-else>
                  {{ skey }}
                </span>
            </label>
            <div class="col-sm-10">
              <div class="input-group">
                <input v-model="sval.value" type="text" :disabled="sval.approved" class="form-control">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <input v-model="sval.approved" type="checkbox" :id="skey" title="Toggle approval of record">
                  </div>
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tooltip="Perform actions on this record value">Actions</button>
                  <div class="dropdown-menu">
                    <span @click="removeElement(spec, skey);" class="oi oi-trash">Delete</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li data-toggle="tooltip" data-placement="right" title="Add a new field to this record, prefix field name with 'bids_' to add a BIDS property">
          <div class="input-group add-field">
            <input v-bind:id="'tba_fieldname_' + specs_key" type="text" placeholder="new field name">
            <div class="input-group-append">
              <button @click="addField(spec, 'tba_fieldname_' + specs_key);" class="btn btn-outline-success" type="button">Add Field</button>
            </div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
  <input v-if="specs[0]" class="btn btn-primary" type="button" @click="checkForm" value="Save to dataset">
</div>
</main>

<script>
//source https://stackoverflow.com/a/31057221
var getUrlParams = function (url) {
  var params = {};
  (url + '?').split('?')[1].split('&').forEach(function (pair) {
    pair = (pair + '=').split('=').map(decodeURIComponent);
    if (pair[0].length) {
      params[pair[0]] = pair[1];
    }
  });
  return params;
};

var studyspecfile = getUrlParams(window.location.href)['studyspecfile'];

var app = new Vue({
    el: '#app',
    data: {
      specs: [],
      specfiles: []
    },
    methods: {
        checkForm: function() {
            axios.put("/api/v1/file/" + studyspecfile, {
                content: JSON.stringify(this.$data.specs),
                json: 'stream',
                togit: true
            })
            .then(function (response) {
              console.log(response);
            })
            .catch(function (error) {
              console.log(error);
            });
        },
        removeElement: function(spec, skey) {
            this.$delete(spec, skey)
        },
        addField: function(spec, input_id) {
            var input_field = document.getElementById(input_id)
            app.$set(
                spec,
                input_field.value,
                {value: '', approved: false}
            );
            input_field.value = '';
        },
        assign2all: function(k, v) {
            for (i=0; i < app.$data.specs.length; i++) {
                app.$set(app.$data.specs[i], k, {value: v, approved: true});
            }
        },
        approveAll: function(k, v) {
            for (i=0; i < app.$data.specs.length; i++) {
                app.$set(app.$data.specs[i][k], "approved", v);
            }
        },
        load_specs: function(studyspecfile) {
            axios.get("/api/v1/file/" + studyspecfile, {
                    params: {
                        json: 'stream'
                    }
                })
                .then(function (response) {
                    app.$data.specs = response.data.content;
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        load_specfile_list: function() {
            axios.get("/api/v1/file/*/studyspec.json", {
                })
                .then(function (response) {
                    app.$data.specfiles = response.data.files;
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
    }
});

app.load_specfile_list();
if (studyspecfile) {
    app.load_specs(studyspecfile);
}
</script>
</body>
</html>
