<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/specedit.css">
    <script src="js/jquery.slim.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
  </head>
<body>

<div id="app">
  <ul>
    <li v-for="(spec, specs_key) in specs">
      <ul>
        <li v-for="(sval, skey) in spec">
          <div v-if="sval === Object(sval)">
            <!-- this is some editable property -->
            <label form="specform">{{skey}}</label>
            <input v-model="sval.value" placeholder="edit me" :disabled="sval.approved">
            <input type="checkbox" id="skey" v-model="sval.approved">
            <button @click="removeElement(spec, skey);">Remove</button>
          </div>
          <div v-else>
            <!-- this is a fact -->
            <strong>NO</strong> {{ skey }}: {{ sval }}
          </div>
        </li>
      </ul>
      <input v-bind:id="'tba_fieldname_' + specs_key" placeholder="fieldname">
      <button @click="addField(spec, 'tba_fieldname_' + specs_key);">Add field</button>
    </li>
  </ul>
  <input type="button" @click="checkForm" value="Submit">
</div>

<script>
//source https://stackoverflow.com/a/31057221
var getUrlParams = function (url) {
  var params = {};
  (url + '?').split('?')[1].split('&').forEach(function (pair) {
    pair = (pair + '=').split('=').map(decodeURIComponent);
    if (pair[0].length) {
      params[pair[0]] = pair[1];
    }
  });
  return params;
};

var id = getUrlParams(window.location.href)['id'];

var app = new Vue({
    el: '#app',
    data: {
      specs: []
    },
    methods: {
        checkForm: function() {
            axios.put("/api/v1/file/" + id + "/studyspec.json", {
                content: JSON.stringify(this.$data.specs),
                json: 'stream',
                togit: true
            })
            .then(function (response) {
              console.log(response);
            })
            .catch(function (error) {
              console.log(error);
            });
        },
        removeElement: function(spec, skey) {
            this.$delete(spec, skey)
        },
        addField: function(spec, input_field) {
            app.$set(
                spec,
                document.getElementById(input_field).value,
                {value: '', approved: false}
            );
        },
    }
});

/* dummy auth for now */
axios.get('/api/v1/auth')
    .then(function (response) {
        axios.get("/api/v1/file/" + id + "/studyspec.json", {
                params: {
                    json: 'stream'
                }
            })
            .then(function (response) {
                app.$data.specs = response.data.content;
            })
            .catch(function (error) {
                console.log(error);
            });
    })
    .catch(function (error) {
        console.log(error);
    });
</script>
</body>
</html>
