<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/specedit.css">
    <script src="js/jquery.slim.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
  </head>
  <style>
    main {
      max-width: 1280px;
      margin: 2em auto;
    }
    .add-field input[type=text] {
      padding: .375rem .75rem;
    }
    .dropdown-menu span {
      color: red;
      cursor: pointer;
      padding: .375rem .75rem;
    }
    .spec .form-group {
      margin-bottom: 0.3rem;
    }
    .spec .form-control-plaintext {
      padding: .375rem .75rem;
    }
  </style>
<body>
<main>
<div id="app">
  <ul class='specs-list'>
    <li v-for="(spec, specs_key) in specs">
      <ul class='spec'>
        <li v-for="(sval, skey) in spec">
          <div v-if="sval === Object(sval)" class="form-group row">
            <!-- this is some editable property -->
            <label form="specform" class="col-sm-2 col-form-label">{{skey}}</label>
            <div class="col-sm-10">
              <div class="input-group">
                <input v-model="sval.value" type="text" placeholder="edit me" :disabled="sval.approved" class="form-control">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <input v-model="sval.approved" type="checkbox" :id="skey" title="Approve">
                  </div>
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
                  <div class="dropdown-menu">
                    <span @click="removeElement(spec, skey);" class="oi oi-trash">Delete</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-else class="form-group row">
            <!-- this is a fact -->
            <label form="specform" class="col-sm-2 col-form-label">{{skey}}</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" :id="skey" :value="sval">
            </div>
          </div>
        </li>

        <li>
          <div class="input-group add-field">
            <input v-bind:id="'tba_fieldname_' + specs_key" type="text" placeholder="new field name">
            <div class="input-group-append">
              <button @click="addField(spec, 'tba_fieldname_' + specs_key);" class="btn btn-outline-success" type="button">Add Field</button>
            </div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
  <input type="button" @click="checkForm" value="Submit">
</div>
</main>

<script>
//source https://stackoverflow.com/a/31057221
var getUrlParams = function (url) {
  var params = {};
  (url + '?').split('?')[1].split('&').forEach(function (pair) {
    pair = (pair + '=').split('=').map(decodeURIComponent);
    if (pair[0].length) {
      params[pair[0]] = pair[1];
    }
  });
  return params;
};

var id = getUrlParams(window.location.href)['id'];

var app = new Vue({
    el: '#app',
    data: {
      specs: []
    },
    methods: {
        checkForm: function() {
            axios.put("/api/v1/file/" + id + "/studyspec.json", {
                content: JSON.stringify(this.$data.specs),
                json: 'stream',
                togit: true
            })
            .then(function (response) {
              console.log(response);
            })
            .catch(function (error) {
              console.log(error);
            });
        },
        removeElement: function(spec, skey) {
            this.$delete(spec, skey)
        },
        addField: function(spec, input_field) {
            app.$set(
                spec,
                document.getElementById(input_field).value,
                {value: '', approved: false}
            );
        },
    }
});

/* dummy auth for now */
axios.get('/api/v1/auth')
    .then(function (response) {
        axios.get("/api/v1/file/" + id + "/studyspec.json", {
                params: {
                    json: 'stream'
                }
            })
            .then(function (response) {
                app.$data.specs = response.data.content;
            })
            .catch(function (error) {
                console.log(error);
            });
    })
    .catch(function (error) {
        console.log(error);
    });
</script>
</body>
</html>
